h2.profile {
  display: flex;
  justify-content: space-between;

  cursor: pointer;

  > svg {
    width: 18px;
    transition: transform 0.2s ease-in-out;
  }

  &.is-open {
    > svg {
      transform: rotate(180deg);
    }
  }
}

div.profile {
  > h3 {
    margin-top: 20px;
    font-size: 1.1em;
  }
}