.profile {
  h2 {
    display: flex;
    justify-content: space-between;

    cursor: pointer;

    > svg {
      width: 18px;
      transition: transform 0.2s ease-in-out;
    }

    &.is-open {
      > svg {
        transform: rotate(180deg);
      }
    }
  }
}