h2.profile {
  display: flex;
  justify-content: space-between;

  cursor: pointer;

  > svg {
    width: 18px;
    transition: transform 0.2s ease-in-out;
  }

  &.is-open {
    > svg {
      transform: rotate(180deg);
    }
  }
}

div.profile {
  > h3 {
    margin-top: 20px;
    font-size: 1.1em;
  }

  p {
    font-size: 0.82em;
  }

  p.meta-icons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size:16px;
  }

  p > span.icon {
    > a {
      display: flex;
      align-items: center;
      gap: 15px;
      flex-grow: 1;
      justify-content: space-between;
    }

    svg {
      display: inline-block;
    }
  }
}