ul.blog-posts {
  list-style-type: none;

  li {
    font-size: 0.8em;
    margin: 0.75em 0;

    > a {
      font-weight: 400;

      &:after {
        width: 30px;
        background: var(--border);
        opacity: 0;
        bottom: -7px;

        transform: none;
        left: 0;
      }

      &:hover {
        color: var(--nav-colour-hover);

        &:after { opacity: 1 }
      }
    }
  }
}